
$my-main-color: steelblue;

#notes-category {
    background-color: $my-main-color;
}

button {
    padding-left: 3em;
    padding-right: 3em;
}


#update-button {
  background-image: radial-gradient(farthest-corner circle at 20% 40%, #1c4d5d, #333);
}
